<!doctype html>
 {% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


<style>
@page {
    size: "A4";
    margin: 1.5cm 1.5cm 1.5cm 1.5cm;
    @bottom-center {
        background: url({% static 'site/img/logo-pdf.svg' %}) no-repeat center top;
        background-size: auto 1.5cm;
        padding-top: 1.8cm;
        font: 10pt "Playfair Display";
        text-align: center;
        vertical-align: top;
    }
}

.header_logo{
    width: 500px;

}
.student_area{
    width: 500px;
}

.header{
    display: flex;
}

.std_img img{
    text-align: center;
    margin-left: 120px;
}

.main{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 6px;
}

.first_table{
    display: flex;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.left_table_left{
    width: 50%;
    padding: 10px;
}
.first_table_left{
    width: 55%;
    margin-left: 10px;
    font-size: 8px;
}

.first_table{

    margin-top: 10px;
}
.left_table_left{
    margin-top: -10px;
    font-size: 8px;
}

.office_area{
    display: flex;
}

</style>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header_logo">
                <img style="width: 100px; text-align: left" src="file:\\{{ school_info.logo.url }}" alt="">
                <h1 style="text-align: right; margin-top: -110px; margin-right: -20px;
font-size: 16px">{{ school_info.name }}</h1>
                <p style="font-size: 12px; margin-left: 110px; margin-top: -10px">{{ school_info.description }}</p>
                <p style="margin-top:-10px;margin-left: 110px; font-size: 8px">{{ school_info.contact }}</p>
                <h2 style="font-size: 13px; margin-left: 110px; margin-top: 10px">Class {{ std.class_name }} Admission {% if std.class_name.class_name_numeric <= 8 %}
                        {{ std.academic_session.jr_session }}
                        {% elif std.class_name.class_name_numeric >= 9 %}
                         {{ std.academic_session.sec_session }}
                        {% endif %}
                </h2>
                 <h2 style="font-size: 10px; margin-left: 110px; margin-top: 10px">Application Form (office copy)</h2>
            </div>
            <div class="student_area">
                <div class="std_img">
                    <img style="width: 100px; height: 120px" src="{{ std.photo.url }}" alt="">
                </div>
            </div>
        </div>

        <div class="first_table">

            <div class="first_table_left">

                <table>
                  <tr>
                    <td>Student's ID</td>
                    <td>{{ std.std_id }}</td>
                  </tr>
                    <tr>
                    <td>Student's Name BN</td>
                    <td>{{ std.full_name_bn }}</td>
                  </tr>
                  <tr>
                    <td>Student's Name EN</td>
                    <td>{{ std.full_name_en }}</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>{{ std.get_gender_display }}</td>
                  </tr>

                  <tr>
                    <td>Father's Name EN</td>
                    <td>{{ std.father_name_bn }}</td>
                  </tr>

                  <tr>
                    <td>Father's Name BN</td>
                    <td>{{ std.father_name_en }}</td>
                  </tr>


                  <tr>
                    <td>Mother's BN</td>
                    <td>{{ std.mother_name_bn }}</td>
                  </tr>


                  <tr>
                    <td>Mother's EN</td>
                    <td>{{ std.mother_name_en }}</td>
                  </tr>
                    <tr>
                    <td>Blood Group</td>
                    <td>{{ std.blood_group }}</td>
                  </tr>
                    <tr>
                    <td>Religion</td>
                    <td>{{ std.get_religion_display }}</td>
                  </tr>

                   <tr>
                    <td>Date of Birth</td>
                    <td>{{ std.date_of_birth }}</td>
                  </tr>
                   <tr>
                    <td>Mobile Number</td>
                    <td>+880{{ std.mobile_number }}</td>
                  </tr>

                  {% if std.optional_mobile_number %}
                  <tr>
                    <td>Mobile Number (Optional)</td>
                    <td>{{ std.optional_mobile_number }}</td>
                  </tr>
                  {% endif %}



                </table>

            </div>
            <div class="left_table_left">
                <table>
                  <tr>
                    <td>Class Name</td>
                    <td>{{ std.class_name }}</td>
                  </tr>
                  <tr>
                    <td>Group</td>
                    <td>{{ std.std_group }}</td>
                  </tr>
                  <tr>
                    <td>Section</td>
                    <td>{{ std.academic_section }}</td>
                  </tr>

                  <tr>
                    <td>Session</td>
                    <td>{% if std.class_name.class_name_numeric <= 8 %}
                        {{ std.academic_session.jr_session }}
                        {% elif std.class_name.class_name_numeric >= 9 %}
                         {{ std.academic_session.sec_session }}
                        {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <td>Address Present</td>
                    <td>{{ std.word_no }}</td>
                  </tr>
                  {% if std.address %}
                   <tr>
                    <td>Address 1</td>
                    <td>{{ std.address }}</td>
                  </tr>
                  {% endif %}
                  {% if std.last_school %}
                   <tr>
                    <td>Last School</td>
                    <td>{{ std.last_school }}</td>
                  </tr>
                  {% endif %}
                 {% if std.address_opt %}
                   <tr>
                    <td>Address 2</td>
                    <td>{{ std.address_opt }}</td>
                  </tr>
                  {% endif %}



                  <tr>
                    <td>District</td>
                    <td>{{ std.zilla }}</td>
                  </tr>
                    <tr>
                    <td>Created</td>
                    <td>{{ std.created_by.full_name }} - {{ std.created_at }}</td>
                  </tr>





                </table>
            </div>
        </div>
    <div class="office_area" style="padding: 10px">
            <div class="left_office" style="width: 33%">
                <p style="font-size: 10px; text-align: center">Guardian Sign</p>
            </div>
            <div class="right_office" style="width: 33%">
                <p style="font-size: 10px;text-align: center">Student's Sign</p>
            </div>
            <div class="right_office" style="width: 33%">
                <p style="font-size: 10px;text-align: center">Office Sign</p>
            </div>
            <div class="right_office" style="width: 33%">
                <p style="font-size: 10px; text-align: center">Head Teacher</p>
            </div>
        </div>
    </div>
    <p style="margin-left:-290px;width:90%;font-size: 6px; transform: rotate(90deg)">Software Developed by Asaduzzaman Sohel | print {{ std.created_at }}</p>

 <div class="main">
        <div class="header">
            <div class="header_logo">
                               <img style="width: 100px; text-align: left" src="{{ school_info.logo.url }}" alt="">
                <h1 style="text-align: right; margin-top: -110px; margin-right: -20px;
font-size: 16px">{{ school_info.name }}</h1>
                <p style="font-size: 12px; margin-left: 110px; margin-top: -10px">{{ school_info.description }}</p>
                <p style="margin-top:-10px;margin-left: 110px; font-size: 8px">{{ school_info.contact }}</p>
                <h2 style="font-size: 13px; margin-left: 110px; margin-top: 10px">Class {{ std.class_name }} Admission {% if std.class_name.class_name_numeric <= 8 %}
                        {{ std.academic_session.jr_session }}
                        {% elif std.class_name.class_name_numeric >= 9 %}
                         {{ std.academic_session.sec_session }}
                        {% endif %}
                    </h2>
                <h2 style="font-size: 13px; margin-left: 110px; margin-top: 10px">Admit Card</h2>

            </div>
            <div class="student_area">
                <div class="std_img">
                    <img style="width: 100px; height: 120px" src="{{ std.photo.url }}" alt="">
                </div>
            </div>
        </div>

        <div class="first_table" style="margin-top: 0px">

            <div class="first_table_left">

                <table>
                  <tr>
                    <td>Student's ID</td>
                    <td>{{ std.std_id }}</td>
                  </tr>
                    <tr>
                    <td>Student's Name BN</td>
                    <td>{{ std.full_name_bn }}</td>
                  </tr>
                  <tr>
                    <td>Student's Name EN</td>
                    <td>{{ std.full_name_en }}</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>{{ std.get_gender_display }}</td>
                  </tr>

                  <tr>
                    <td>Father's Name EN</td>
                    <td>{{ std.father_name_bn }}</td>
                  </tr>



                  <tr>
                    <td>Mother's EN</td>
                    <td>{{ std.mother_name_en }}</td>
                  </tr>


                   <tr>
                    <td>Date of Birth</td>
                    <td>{{ std.date_of_birth }}</td>
                  </tr>
                   <tr>
                    <td>Mobile Number</td>
                    <td>+880{{ std.mobile_number }}</td>
                  </tr>

                  {% if std.optional_mobile_number %}
                  <tr>
                    <td>Mobile Number (Optional)</td>
                    <td>{{ std.optional_mobile_number }}</td>
                  </tr>
                  {% endif %}



                </table>

            </div>
            <div class="left_table_left">
                <table>
                  <tr>
                    <td>Class Name</td>
                    <td>{{ std.class_name }}</td>
                  </tr>
                  <tr>
                    <td>Group</td>
                    <td>{{ std.std_group }}</td>
                  </tr>
                  <tr>
                    <td>Section</td>
                    <td>{{ std.academic_section }}</td>
                  </tr>

                  <tr>
                    <td>Session</td>
                    <td>{% if std.class_name.class_name_numeric <= 8 %}
                        {{ std.academic_session.jr_session }}
                        {% elif std.class_name.class_name_numeric >= 9 %}
                         {{ std.academic_session.sec_session }}
                        {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <td>Address (Present)</td>
                    <td>{{ std.word_no }}</td>
                  </tr>




                  <tr>
                    <td>District</td>
                    <td>{{ std.zilla }}</td>
                  </tr>





                </table>
            </div>
        </div>
        <div class="office_area" style="padding: 10px; width: 100%">
            <div class="left_office" style="width: 33%">
                <p style="font-size: 10px; text-align: center">Guardian Sign</p>
            </div>
            <div class="right_office" style="width: 33%">
                <p style="font-size: 10px;text-align: center">Student's Sign</p>
            </div>
            <div class="right_office" style="width: 33%">
                <p style="font-size: 10px;text-align: center">Office Sign</p>
            </div>
            <div class="right_office" style="width: 33%">
                <p style="font-size: 10px; text-align: center">Head Teacher</p>
            </div>

        </div>
    <p style="margin-left:-290px;width:90%;font-size: 6px; transform: rotate(90deg)">Software Developed by Asaduzzaman Sohel | print {{ std.created_at }}</p>

    </div>
</body>
</html>